[submodule "dsh-plugins"]
	path = dsh-plugins
	url = https://github.com/CiicDong/dsh-plugins.git
[submodule "dsh-genui"]
	path = dsh-genui
	url = https://github.com/omdsh-dev/dsh-genui.git
[submodule "dsh-mcp-manage"]
	path = dsh-mcp-manage
	url = https://github.com/wuhobin/dsh-mcp-manage.git
