[submodule "dsh-plugins"]
	path = dsh-plugins
	url = https://github.com/CiicDong/dsh-plugins.git
[submodule "dsh-routing-suite"]
	path = dsh-routing-suite
	url = https://github.com/yjh051108/dsh-routing-suite.git
