[submodule "dsh-plugins"]
	path = dsh-plugins
	url = https://github.com/CiicDong/dsh-plugins.git
[submodule "dsh-routing-suite"]
	path = dsh-routing-suite
	url = https://github.com/yjh051108/dsh-routing-suite.git
[submodule "dsh-genui"]
	path = dsh-genui
	url = https://github.com/omdsh-dev/dsh-genui.git
[submodule "dsh-univer-office"]
	path = dsh-univer-office
	url = https://github.com/dream-num/dsh-univer-office.git
[submodule "dsh-mcp-manage"]
	path = dsh-mcp-manage
	url = https://github.com/wuhobin/dsh-mcp-manage.git
